<p style="color: green"><%= notice %></p>

<h1>Blog posts</h1>

<div id="admin_blog_posts">
 <% @blog_posts.each do |blog_post| %>
    <h2 class="fw-bolder"><%= blog_post.title %></h2>
            <p><%= blog_post.content %></p>
    <%= link_to "Show this blog post", admin_blog_post_path(blog_post) %>
    <%= link_to "Show this blog post", admin_blog_post_path(blog_post) %>

  </p>
<% end %>
</div>

<%= link_to "New blog post", new_admin_blog_post_path %>
